.video-card{
  width: 1250px;
  height: 560px;
  border-radius: 15px;
  border: 2px solid white;
  margin-top: 70px;
  transition: all 0.3s ease-in-out;
}

.image-card{
  width: 1220px;
  height: 560px;
  border-radius: 15px;
  border: 2px solid white;
  margin-top: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.left-arrow{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: moveUpDown 2s ease-in-out infinite;
}


#contact-project-details{
  min-width: 1250px;
}

.project-desc-section{
  display: flex;
  justify-content: space-between;
  width: 1350px;
  margin-left: 90px;
}


.project-name{
  font-size: 35px;
}

.project-desc{
  max-width: 550px;
  margin-bottom: 30px;
}

.tech-list{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 20px;
  max-width: 500px;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  width: 90%;
}

.button{
  border: none;
  border-radius: 8px;
  width: 135px;
  height: 43px;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 16px;
  background-color: #2BCF7E;
  cursor: pointer;
}

.button:hover{
  background-color: #126139;
}

.green-hover:hover{
  color: #2BCF7E;
}

.KeyFeauter{
  margin-bottom: 20px;
  max-width: 600px;
}

.right-project-desc-section{
  min-width: 600px;
  max-width: 700px;
}

.left-project-desc-section{
  min-width: 600px;

}

#head{
  position: relative;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) and (min-width: 780px){   /* Tablet View */
  .video-card{
    width: 700px;
  }

  .project-desc-section{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

}

@media (min-width: 1200px) and (max-width: 1700px){
  .video-card{
    width: 1100px;
  }

  .project-desc-section{
    width: 1100px;
  }

  .KeyFeauter{
    max-width: 400px;
    min-width: 400px;
    width: 400px;
  }

}

@media (max-width: 768px){
  .video-card{
    width: 300px;
    height: 220px;
  }

  .project-desc-section{
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    margin-left: 0px;
  }

  .project-desc , .tech-list , .KeyFeauter , .project-name , .project-desc-section , .p-title , .key-feature-list , .right-project-desc-section , .left-project-desc-section{
    max-width: 300px;
    width: 300px;
    min-width: 300px;
  }

  .green-hover{
    max-width: 250px;
    min-width: 250px;
    width: 250px;
  }


  .tech-list{
    flex-wrap: wrap;
  }

  .left-arrow{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 30px;

  }


}

