.about-me{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}




.who-am-i-para{
  max-width: 900px;
  word-spacing: 1px;
  font-size: 16px;
  margin-top: 0px;
  line-height: 27px;
}

.who-am-i-para:hover{
  color: #2BCF7E;
}

.list-data{
  max-width: 850px;
  margin-bottom: 15px;
}

.list-data:hover{
  color: #2BCF7E;
}

.list{
  margin-left: -25px;
}

.profile-image{
 width: 400px;
 height: 500px;
 background-image: url("/Assests/images/pexels-photo-17594394.webp");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 10px;
 transition: all 0.3s ease-in-out;
}

.education-section{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}

.education-uni-title{
  font-size: 40px;
  max-width: 880px;
}

.education-left-side{
  max-width: 900px;
}

.university-image{
  width: 350px;
  height: 300px;
  background-image: url("/Assests/images/uni");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
}


.skills-section{
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill{
  width: 600px;
}

.skills{
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about-contact{
  min-width: 1350px;
}


@media (max-width: 1200px) and (min-width: 780px){
  .about-me{
    flex-direction: column;
    align-items: center;
  }
  .section-title{
    font-size: 20px;
  }
  .section-bold-title{
    font-size: 42px;
  }
  .who-am-i-para{
    max-width: 550px;
  }
  .list-data{
    max-width: 550px;
  }
  .profile-image{
    margin-top: 70px;
  }
  .education-section{
    flex-direction: column;
    align-items: center;
    max-width: 700px;
  }

  .education-uni-title{
    font-size: 32px;
    max-width: 550px;
  }

  .skills{
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
  }


}

@media (min-width: 1200px) and (max-width: 1500px){
  .section-title{
    font-size: 20px;
  }
  .section-bold-title{
    font-size: 42px;
  }
  .who-am-i-para{
    max-width: 550px;
  }
  .list-data{
    max-width: 550px;
  }
  .about-me{
    max-width: 1100px;
  }
  .education-uni-title{
    font-size: 42px;
    max-width: 650px;
  }

  .education-section{
    max-width: 1100px;
  }

  .skills{
    max-width: 1100px;
  }

  .skill{
    max-width: 500px;
  }

  .university-image{
    margin-top: 100px;
  }

}


@media (max-width: 768px){
  .about-me{
    flex-direction: column;
    align-items: center;
  }
  .section-title{
    font-size: 20px;
  }
  .left-section-about{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-bold-title{
    font-size: 42px;
  }
  .who-am-i-para{
    max-width: 300px;
  }

  .list-data{
    max-width: 300px;
  }
  .profile-image{
    margin-top: 70px;
    width: 300px;
    height: 400px;
  }

  .education-section{
    flex-direction: column;
    align-items: center;
    max-width: 700px;
  }

  .education-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education-uni-title{
    font-size: 32px;
    max-width: 300px;
    text-align: center;
  }

  .university-image{
    width: 300px;
    height: 220px;
  }

  .skills{
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .skills-section{
    max-width: 300px;
  }

  .skills-bold-title{
    font-size: 42px;
  }

  .skill{
    max-width: 300px;
  }


}
