
  <div class="skills" #skillsSection>
    <h1 class="skill-title pop-300"> My Skills</h1>
    <h1 class="what-i-can-do pop-500">What I Can Do?</h1>
    <p class="skill-pargraph pop-300">{{SkillsDescription}}</p>
    <div class="skills-bar">
        <div class="skill"  *ngFor="let item of SkillsNames let i = index">
          <h1 class="skill-name pop-400"> {{SkillsNames[i]}} </h1>
          <div class="progress-bar">
            <div class="progress" [style.width.%]="animatedWidthArr[i]">
              <span class="percent-text pop-300" [ngStyle]="{left: animatedWidthArr[i]+ '%' , 'display': 'block'}">{{ animatedWidthArr[i] }}%</span>
            </div>
          </div>
        </div>
    </div>
  </div>
