<main id="main-page" *ngIf="!allSectionsLoaded"> <app-loader></app-loader>
</main>
<main id="main-page" *ngIf="allSectionsLoaded">
  <div class="main-cont">
      <div class="welcome-section">
          <div class="profile-image" [ngStyle]="{'background-image': 'url(' + FirstPersonalImage + ')'}" > </div>
          <div class="welcome-text">
            <div class="my-info">
              <h1 class="welcome-title"> Hello, I am </h1>
              <h1 class="name"> Seif <span class="eldeen"> Eldeen </span></h1>
              <h1 class="job"> {{JobDecription}}</h1>
            </div>
            <p class="projects-description">
                Within this portfolio, you'll find a curated
                collection of my best work
            </p>
            <div class="view_protofolio">
              <h1 class="view_pro_text"> View Portfolio </h1>
              <img src="/Assests/images/arrow_right_alt.png" id="view-portfolio-icon" class="view_icon" (click)="scroll_to_project()">
            </div>
          </div>
      </div>
      <app-about-section [AboutData]="aboutData"></app-about-section>
      <app-achievement [ProjectsTypeData]="achievementsData"></app-achievement>
      <div class="skills-section">
        <div class="profile-image skills-image" [ngStyle]="{'background-image': 'url(' + SecondPersonalImage + ')'}"> </div>
        <app-skills [SkillsData]="MySkillsData"></app-skills>
      </div>
      <app-services [servicesData]="ServicesData"></app-services>
      <app-look-what-i-did [portfolioData]="PortfolioData" [centeredTitle]="CenteredTitle"></app-look-what-i-did>
      <app-get-in-touch [contactData]="ContactData"></app-get-in-touch>
  </div>

</main>
