.welcome-section{
  padding-left: 50px;
  display: flex;
  gap: 150px;
  z-index: 0;
  position: relative;
}

#contact-home{
  width: 1300px;
}

.profile-image{
  width: 580px;
  height: 700px;
  margin-top: -40px;
  background-image: url("/Assests/images/pexels-photosbycollis-3031397.jpg");
  background-size: cover;
  background-position: center;
  mask-image: radial-gradient(circle at center, black 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, black 60%, transparent 100%);
  transition: all 1s ease-in-out;
  border-radius: 250px;
}

.welcome-title{
  color: #2BCF7E;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 0px;
}

.welcome-text{
  margin-top: 140px;
}

.my-info{
  margin-bottom: 100px;
}

.name{
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 103px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}


.eldeen{
  color: #2BCF7E !important;
}

.job{
  font-size: 35px;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00FF99;
  animation: typing 3s steps(30, end), blink .75s step-end infinite;

}

.projects-description{
  font-size: 19px;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  color: #D9D9D9;
  max-width: 400px;
}

.view_protofolio{
  display: flex;
  gap: 20px;
}

.view_pro_text{
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  color: white;
}

.view_icon{
  width: 40px;
  height: 40px;
  margin-top: 9px;
  cursor: pointer;
  animation: moveRightLeft 2s ease-in-out infinite;
}

.hidden-content {
  opacity: 0;
  pointer-events: none;
}

.skills-image{
  margin-top: -50px;
  border-radius: 0px;
  width: 520px;
  height: 640px;
}

.signature{
  width: 200px;
  height: 200px;
  background-image: url("/Assests/images/Seif Eldeen-Photoroom.png");
  position: absolute;
  top: 530px;
  left: 70px;
}

.contact-now-arrow{
  width: 50px;
  height: 50px;
  background-image: url("/Assests/images/contact.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  bottom: 40px;
  right: 40px;
  animation: moveUpDown 2s ease-in-out infinite;
  cursor: pointer;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) and (min-width: 780px) {
  .welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-left: -20PX;
    margin-top: 0px;
    row-gap: 0px;
  }

  .profile-image{
    width: 450px;
    height: 550px;
  }


  .my-info{
    margin-bottom: 50px;
  }

  .welcome-title{
    font-size: 26px;
  }

  .name{
    font-size: 57px;
  }

  .job{
    font-size: 18px;
  }

  .skills-image{
    display: none;
  }

  .welcome-text{
    margin-top: 70px;
  }

  .signature{
    top: 400px;
    left: 165px;
  }


}

 @media (min-width: 1200px) and (max-width: 1700px) {  /*from zoom 110  to zoom 160 */
    .profile-image{
      width: 450px;
      height: 550px;
    }

    .welcome-text{
      max-width: 500px;

    }

    .my-info{
      margin-bottom: 50px;
    }

    .welcome-title{
      font-size: 26px;
    }

    .name{
      font-size: 57px;
    }

    .job{
      font-size: 18px;
    }

    .projects-description{
      font-size: 16px;
    }

    .view_pro_text{
      font-size: 16px;
    }

    #view-portfolio-icon{
      width: 25px;
      height: 25px;
      margin-top: 11px;
    }

    .skills-image{
      display: none;
    }

    .signature{
      top: 385px;
      left: 70px;
    }


}

@media (max-width: 768px){
  .welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-left: -40px;
    row-gap: 0px;

  }

  .welcome-text{
    margin-top: 60px;
  }

  .profile-image{
    width: 300px;
    height: 300px;
  }

  .name{
    font-size: 42px;
  }

  .job{
    font-size: 16px;
    width: 100%;
  }

  .welcome-title{
    font-size: 20px;
  }

  .projects-description{
    font-size: 14px;
  }

  .my-info{
    max-width: 340px !important;
    margin-bottom: 20px;
  }

  .projects-description{
    max-width: 270px !important;
  }

  .view_pro_text{
    font-size: 16px;
  }

  .view_icon{
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  .skills-image{
    display: none;
  }

  #contact-home{
    width: 300px;
  }

  .signature{
    top: 150px;
    left: 89px;
  }

  .contact-now-arrow{
    display: none;
  }


}


