<main id="main-page" *ngIf="!allSectionsLoaded"> <app-loader></app-loader>
</main>
<main id="main-page" *ngIf="allSectionsLoaded">
  <div class="header-section">
    <h1 class="header-title pop-400"> Here’s What I’ve Built </h1>
    <h1 class="header-bold-title pop-700">My <span class="sub-header-bold-title">Profolio</span></h1>
    <p class="pop-pargraph header-para"> Transforming ideas into interactive solutions. Explore the work that defines my craft.</p>
  </div>
  <app-look-what-i-did [AchievementsData]="achievementsData" [portfolioData]="PortfolioData"> </app-look-what-i-did>
  <app-get-in-touch [contactData]="ContactData" id="projects-contact"></app-get-in-touch>
</main>
