
.contact-pargraph{
  max-width: 550px;
}

.contact-section{
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  min-width: 1200px;
}

.contact-icon{
  width: 30px;
  height: 26px;
  margin-top: 4px;
}

.contact-card{
  display: flex;
  gap: 40px;
}

.contact-details{
  font-size: 20px;
  color: #D9D9D9;
  margin-top: 0px;
}

.right-contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

#location{
  width: 25px;
  height: 33px;
}

.contact{
  display: flex;
  gap: 15px;
}

.explore{
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.explore-bt{
  display: flex;
  gap: 20px;
}

.explore-icon{
  margin-top: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  animation: moveRightLeft 2s ease-in-out infinite;

}

.logo-title-cont{
  display: flex;
  gap: 20px;
}

.contact-details{
  margin-top: 2px;
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}


@media (max-width: 1200px) and (min-width: 780px){
  .contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) and (max-width: 1700px){
  .contact-section{
    max-width: 1000px;
    min-width: 1000px;
    justify-content: space-between;
  }
  .contact-pargraph{
    max-width: 400px;
  }
}


@media (max-width: 768px){
  .contact-section{
    max-width: 300px !important;
    flex-direction: column;
    align-items: center;
  }

  .right-contact{
    max-width: 300px;
    width: 300px;
  }

  .contact-details{
    max-width: 300px;
    text-align: center;
  }

  .contact-card{
    flex-direction: column;
    gap: 20px;
  }

  .contact-data{
    width: 300px ;
  }

  #contact-info{
    text-align: center;
  }

  .left-contact{
    max-width: 300px;
  }

}

