<footer id="footer">
  <h1 class="contact-me"> Contact Me </h1>
  <div class="icons">
    <a href="https://api.whatsapp.com/send/?phone=201010272547&text&type=phone_number&app_absent=0" target="_blank" > <div class="icon" id="whats"></div> </a>
    <a href="https://www.linkedin.com/in/seif-eldeen-a3ba62300/" target="_blank"><div class="icon" id="linkedin"></div></a>
    <a href="https://github.com/Seif-eldeen-hassan" target="_blank"> <div class="icon" id="github"></div> </a>
    <a href="mailto:seifeldeen568@gmail.com" target="_blank"> <div class="icon" id="mail"></div> </a>
  </div>
  <p class="copyright ">&copy; 2025 Seif Eldeen. All Rights Reserved.</p>
</footer>
